body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}

ul {
    list-style-type: none;
}

.nav-bar {
    background-color: rgb(69, 70, 67);
    color: rgb(255, 255, 255);
    height: 150px;
    font-size: 16px;
   padding-right: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
   padding-left: 50px;
   padding-bottom: 10px;
}

ul li a {
    color: white;
    margin: 5px;
}

#heading {
   font-size: 70px;
   text-transform: uppercase;
    
}

#profile-pic {
    max-width:20rem;
    margin-left: 20px;
}

.container-1 {
    display: flex;
    justify-content: space-between;
    gap: 30px; 
    margin-top: 40px;
    font-size: 18px;
    flex-direction: row;
}

hr {
    width: 70%;
    margin-top: 20px;
}

.profile{
    margin-left: 10px;
   
}

.profile-h1 {
    margin-top: 10px;
  
}

.skills {
    width: 480px;
    margin-top: 0px;
   
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 90%;

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .resume-heading {
      margin-left: 50px;
  }
